body {
    font-family: Arial, Helvetica, sans-serif;
    font-size:24 pt;
}

h1 {
    background-color: red;
    color:white;
}   

em {
    background-color:lightyellow;
    color:darkorange; 
}

img {
    background-color:whitesmoke;
    padding: 1 em;
    margin-top: 2 em;
    margin-bottom: 2 em;
    margin-left: 2 em;
    margin-right: 2 em;
    border:1 px solid lightgray
}

h2, strong {
    background-color: lightgreen;
    color: gray;
}
